<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceCraft</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<style>
    body{
background-image: url('https://i.pinimg.com/originals/76/40/f3/7640f3ed95ab7fcf2f36a120e3e7ea73.gif');
background-repeat: no-repeat;
 background-size: cover;

}
</style>
<body>
    <form method="POST" action="/1" >
        <input type="submit" class="btn btn-success" value="Engine 1 ON" style="
    position: absolute;
    right: 34%;
    top: 45%;
    background-color: orangered;
    font-size: small;
">
</form>
    <form method="POST" action="/2" >
        <input type="submit" class="btn btn-success" value="Engine 2 ON" style="
    position: absolute;
    right: 34%;
    top: 55%;
    background-color: orangered;
    font-size: small;
">
</form>
    <form method="POST" action="/3" >
        <input type="submit" class="btn btn-success" value="Radar Activate" style="
    position: absolute;
    right: 33%;
    top: 72%;
    background-color: crimson;
    font-size: small;
">
</form>
    <form method="POST" action="/4" >
        <input type="submit" class="btn btn-success" value="Missile Activate" style="
    position: absolute;
    right: 53%;
    top: 73%;
        background-color: red;
        font-size: small;
">
</form>


</body>
</html>